@use "../_colour" as color;

.form {
    color: color.$red;
}

.form.disabled {
    opacity: .4;
}

.fieldset {
    margin-bottom: 1.5em;
}
.fieldset-title {
    display: block;
    margin-top: .75em;
    margin-bottom: .75em;
    font-weight: bold;
    font-size: 1.25em;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}
.input-label {
    margin-bottom: .125em;
    color: color.$gray;
}
.input-target {
    padding: 0.45em 1.25em;
    border-radius: .25em;
    background-color: rgb(38, 38, 38);

    border: none;

    color: rgb(181, 181, 181);
    font-size: 1.25em;
}