$coop-color-primary: #ff6565;

.text {
  color: #ffffff;
}

.quote-text {
  color: rgb(231, 231, 231);
  font-family: monospace;
  padding: .125em .75em;
  background-color: #71717125;
  border-radius: .8em;
  border: .125em solid #7171715a;
}

.var {
  color: #ff6565;
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.game {
  display: flex;
  flex-direction: column;

  width: 40%;
  height: 12em;
  margin: .9em;

  border: .05em solid #ff6565;
  border-radius: .8em;
  text-align: center;

  overflow: hidden;
  transition: .25s;
}

.game:hover {
  transform: scale(1.1);
  margin: 10px 20px;
  cursor: pointer;
}

.game-title {
  color: white;
  text-transform: uppercase;
}

.game-img {
  width: 100%;
  height: 90%;
  background-size: cover;
}

.topic {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  transition: 0.35s;
}

.topic:hover {
  /* ? SASS VARIABLES NOT WORKING */
  color: #ff6565;
}

div.flexbox {
  display: flex;
  flex-direction: column;
  font-weight: 550;
  gap: 2em;
}

p.text {
  color: white
}

.mention {
  color: rgba(255, 255, 255, 0.874);
  background-color: #0d5da3d2;
  padding: 0 .25em
}
