@use "./_colour" as color;

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

html {
  background-color: #111;
}

.page-wrapper {
  margin-top: 12.5em;
  transition: opacity .5s ease-in;
  opacity: 1;
}
.page-wrapper-faded {
  opacity: 0.235;
}

.content-container {
  padding: 1em;
  border-radius: 0 .5em;
  margin-bottom: 2em;

  box-sizing: border-box;

  // flex: calc(50% - 1em) 0 0;
}

.title {
  margin: 0;
  font-size: 3.44em;
  font-weight: 600;
  color: #fd6464;
}

.subtitle {
  margin: 0;
  font-size: 1.122em;
  font-weight: 500;
  color: #dadada;
  line-height: 150%;
  width: 75vw;

  margin-bottom: 1.5em;
}

.content-container-actions {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.button {
  position: relative;
  padding: .3em 1em;

  cursor: pointer;

  font-size: 1.15em;
  text-decoration: none;

  background-color: color.$red;

  font-weight: bold;
  color: white;
  transition: background-color .2s;
  border-radius: .45em;
}

.button-icon {
  position: absolute;
  top: 50%;
  right: calc(100% - .2em);
  transform: translateY(-50%) scale(0);
  font-size: 2em;
  animation: iconPopAnimation 0.5s cubic-bezier(0.42, 0, 0.58, 1) .5s forwards;
}

.button:hover {
  background-color: white;
  // color: black;
  color: #fd6464;
}

.button.secondary {
  // background-color: black;
  background-color: #f2f1f1;
  color: rgb(45, 45, 45);
}

.button.secondary:hover {
  color: rgb(255, 101, 101);
}

.button.confirm {
  background-color: #0a984b;
}
.button.confirm:hover {
  background-color: transparent;
  color: #0a984b;
}

.center-cta {
  display: inline-block;

  margin-top: 2rem;
  padding: 1.25em 1.5em;
  background-color: indianred;
  font-size: 1.25em;
  font-weight: bold;
  color: #dadada;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.center-cta:hover {
  color: white;
  background-color: transparent;
}


.social-icon {
  width: 2em;
  margin-right: .35em;
  fill: #ff6565;
}
.social-icon:hover {
  fill: white;
}

.link {
  color: #f76465;
}
.link:hover {
  color: #b2b2b2;
}

.note {
  color: #bcbcbc;
}

form .only-action {
  margin: auto;
  display: block;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field label {
  color: #f17a7b;
  font-weight: 200;
}

.field input {
  background-color: #f76465;
  border: 0;
  padding: .85rem;
  color: #fefefe;
  font-size: 1.125rem;
}

img.emoji {
  width: 1rem;
  height: 1rem;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}


.slide-up {
  animation: slideUp 0.5s ease-out forwards; /* Apply the animation */
  opacity: 0;
  animation-delay: .3s;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.5s ease-out forwards; /* Apply the animation */
  opacity: 0; /* Start with the content hidden */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes iconPopAnimation {
  0% {
    transform: translateY(-50%) scale(0);
  }
  70% {
    transform: translateY(-50%) scale(1);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}


@media screen and (max-width: 1199.98px) {

    // .page-wrapper {
    //   margin-top: 12em;
    // }

    .subtitle {
        width: 50vw;
    }
}
