body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

html {
  background-color: #111;
}

.content-container {
  background-color: #4a4a4a;
  padding: 1rem;
  border-radius: 0 .5rem;
  margin-bottom: 2rem;
}

.title {
  margin: 0;
  font-size: 1.44em;
  color: #fefefe;
  font-weight: 600;
}

.subtitle {
  margin: 0;
  font-size: 1.122em;
  font-weight: 500;
  color: #dadada;
  line-height: 150%;
  width: 75vw;
}


.button {
  padding: .75em 2.5rem;

  cursor: pointer;

  background-color: #ff6565;
  border: .125em solid #ff6565;
  color: #fefefe;

  font-size: 1.15em;
  text-decoration: none;

  font-weight: 500;
  transition: background-color .2s;
}

.button:hover {
  background-color: transparent;
}

.button.secondary {
  background-color: transparent;
  color: #ff6565;
}

.button.secondary:hover {
  background-color: #ff6565;
  color: white;
}

@media screen and (min-width: 666px) {
    .subtitle {
        width: 50vw;
    }
}

.link {
  color: #f76465;
}
.link:hover {
  color: #b2b2b2;
}

.note {
  color: #bcbcbc;
}