@use "./_colour" as color;

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

html {
  background-color: #111;
}

.content-container {
  padding: 1rem;
  border-radius: 0 .5rem;
  margin-bottom: 2rem;
}

.content-container + .content-container {
  margin-top: 10rem;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  font-size: 1.44em;
  color: #fefefe;
  font-weight: 600;
}

.subtitle {
  margin: 0;
  font-size: 1.122em;
  font-weight: 500;
  color: #dadada;
  line-height: 150%;
  width: 75vw;

  margin-bottom: 1.5em;
}


.button {
  padding: .75em 2.5rem;

  cursor: pointer;

  // background-color: color.$red;
  border: .125em solid color.$red;
  color: color.$red;

  font-size: 1.15em;
  text-decoration: none;

  font-weight: 500;
  transition: background-color .2s;
}

.button:hover {
  background-color: color.$red;
  color: #fefefe;
}

.button.secondary {
  background-color: transparent;

  color: #717171;
  border-color: #717171;
}

.button.secondary:hover {
  background-color: rgb(38, 38, 38);
  border-color: rgb(38, 38, 38);
  color: white;
}

.button.confirm {
  background-color: #0a984b;
  border-color: #0a740d;
}
.button.confirm:hover {
  background-color: transparent;
  color: #0a984b;
}

.center-cta {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 1.8rem 3rem;
  background-color: indianred;

  font-size: 1.25em;
  font-weight: bold;
  color: #dadada;

  border-radius: 1rem;
  border: none;

  cursor: pointer;

  text-decoration: none;
}

.center-cta:hover {
  color: white;
  background-color: transparent;
}





@media screen and (min-width: 850px) {
    .subtitle {
        width: 50vw;
    }
}

.social-icon {
  width: 2em;
  margin-right: .35em;
  fill: #ff6565;
}
.social-icon:hover {
  fill: white;
}

.link {
  color: #f76465;
}
.link:hover {
  color: #b2b2b2;
}

.note {
  color: #bcbcbc;
}

form .only-action {
  margin: auto;
  display: block;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field label {
  color: #f17a7b;
  font-weight: 200;
}

.field input {
  background-color: #f76465;
  border: 0;
  padding: .85rem;
  color: #fefefe;
  font-size: 1.125rem;
}